body {
    background-color: rgb(27, 27, 27);
}

@font-face {
    font-family: 'Typewriter';
    src: url(another_typewriter/atwriter.ttf);
}

.container {
    text-align: center;
    margin-top: 23%;
}

p {
    color: rgb(173, 172, 172);
    font-size: 35px;
    font-family: 'Typewriter';
    letter-spacing: 2px;
}


span{
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker{
    50%{
      opacity: 0;
    }
  }


.btn.btn-dark {
  background-color: rgb(27, 27, 27);
  color: rgb(173, 172, 172);
  border: rgb(173, 172, 172) 1px solid;
  width: 90px;
  font-family: 'Typewriter';
  letter-spacing: 4px;
}

