body {
    background-color: rgb(0, 0, 0);
    
}

@font-face {
    font-family: 'Rocksalt';
    src: url(/Users/samkennedy/Desktop/mock-portfolio/RockSalt-Regular.ttf);
}


.background-design {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background: url(/Users/samkennedy/Desktop/mock-portfolio/wood-ring-GIF.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.section1 {
    align-items: center;
    text-align: center;
    width: 100% !important;
}

.bg-light {
    height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14%;
    width: 280px;
    border-radius: 5px;
    box-shadow: 6px 8px 8px rgb(105, 107, 117);
    display: flex;
}

.container-fluid {
    text-align: center;
    padding: auto;
    width: 280px;
    padding-left: 16px;
 }

 .icon-image {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-top: 50px;
    margin-right: 3px;
  }

.name {
    color: honeydew;
    padding-top: 35px;
    margin-left: 3px;
    font-family: "Rocksalt";
    font-size: 42px;
    text-shadow: 4px 4px black;
  }

.nav-link.active {
    color: rgb(0, 0, 0) !important;
    font-size: 17px;
}